.setting-tab {
    padding: 30px 0px 10px 30px;
    align-items: center;
    border-bottom: 2px solid #d5d5d5;
}
.setting-tab .b1 {
    border-right: 1px solid #d5d5d5;
}
.setting-tab .b2 {
    border-right: 1px solid #d5d5d5;
}
.setting-tab a,
.user-icon {
    padding-right: 30px;
    padding-left: 3px;
    color: #023e7d;
    font-size: 24px;
}

.form {
    margin: 20px 20px 10px 20px;
    padding: 30px;
    border: 2px solid #d5d5d5;
    border-radius: 12px;
    height: 680px;
}

.user-info {
    display: flex;
    gap: 50px;
}

.image-side {
    /* border: 1px solid black; */
    width: 190px;
    height: 385px;
}
.form-side {
    /* border: 1px solid black; */
    color: #979797;
    width: 870px;
    height: 350px;
    margin-top: 35px;
}
.user-image img {
    height: 150px;
    width: 150px;
}
.form-group.col-md-4\.5 {
    width: 290px;
    padding-top: 30px;
}
.pr-9.pt-2 {
    padding-left: 25px;
}
